.pack-view-suggestion-container{
  position: relative;
  width: 300px;
  height: 20px;
}

.pack-view-suggestion-container::after{
  content: "codeblock template";
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding : 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}